# Eclipse
/.classpath
/.project
/.settings
/*.jardesc

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# NetBeans
/nbproject

# idea
*.iml
*.ipr
*.iws

# vim
.*.sw[a-p]

# Maven
/build.xml
/target
/dependency-reduced-pom.xml

# various other potential build files
/build
/bin
/dist
/localexport.jardesc
.gradle
/manifest.mf

# Mac filesystem dust
.DS_Store
