# Eclipse stuff
/.classpath
/.project
/.settings

# NetBeans
/nbproject
/build.xml

# idea
*.iml
*.ipr
*.iws

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/localexport.jardesc
.gradle

# Mac filesystem dust
.DS_Store